/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 2022. 6. 10., 오후 2:39:47
    Author     : skylo
*/

@import "reset.css";



body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ece9e4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#login_form {
    width: auto;
    height: auto;
    padding: 100px;
    background-color:#88b7f5;
    border-radius: 30px;
    box-shadow: 3px 3px 3px 3px gray;
    font-weight: bold;
    
        animation: fadeInDown;
  animation-duration: 1s;
}